<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381141251763-vuaqbgi7feouu671l0q10soeedsf5sm6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381141251763-vuaqbgi7feouu671l0q10soeedsf5sm6</string>
	<key>API_KEY</key>
	<string>AIzaSyDigVd9taAYBx757Xs4bO6cNAc_w-iaAx0</string>
	<key>GCM_SENDER_ID</key>
	<string>381141251763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fridgeface</string>
	<key>PROJECT_ID</key>
	<string>fridge-face-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>fridge-face-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381141251763:ios:441ebf0ddb713889b322c6</string>
</dict>
</plist>